<div style="margin: 50px;">
    <h6 class="cabecera p-2 mb-2 text-white">Captura de Expedientes de Bienes Inmuebles</h6>
    <form name="formulario">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="NoExpediente">No. Expediente</label>
                        <input type="text" class="form-control" id="NoExpediente" placeholder="IPE-BI-..." disabled>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="TipoExpediente">Tipo de Expediente</label>
                        <select class="form-control" id="TipoExpediente" ng-options="tExp.desripcion for tExp in TipoExpediente track by tExp.clave" ng-model="form.tipoExpediente" ng-required="true">
                            <option value="">Seleccione</option>                             
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="TipoInmueble">Tipo de Inmueble</label>
                        <select class="form-control" id="TipoInmueble" ng-options="tipoInmu.descripcion for tipoInmu in TipoInmuebles track by tipoInmu.clave" ng-model="form.TipoInmueble" ng-required="true">
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="Nombre_Inmueble">Nombre del Inmueble</label>
                        <input id="Nombre_Inmueble" type="text" class="form-control" placeholder="Nombre" ng-model="form.nombreInmueble" ng-required="true">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="dirInmu">Dirección del Inmueble</label>
                        <input id="dirInmu" type="text" class="form-control" placeholder="Dirección" ng-model="form.direccion" ng-required="true">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="DescEjecutiva">Descripción Ejecutiva</label>
                        <input type="text" class="form-control" id="DescEjecutiva" placeholder="Descripción" ng-model="form.descjecutiva" ng-required="true">
                    </div>
                </div>
                <h6 class="cabecera p-2 mb-2 text-white">Datos Particulares del Inmueble</h6>
                <!-- TABS-->
                <!--Inicia 1er Tab-->
                <div class="wrap">
                    <ul class="tabs">
                        <li><a href="#tab1"><span class="fa fa-book"></span><span class="tab-text">Generales</span></a></li>
                        <li><a href="#tab2"><span class="fa fa-calendar"></span><span class="tab-text">Detalles</span></a></li>
			            <li><a href="#tab3"><span class="fa fa-map-pin"></span><span class="tab-text">Medidas y Colindancias</span></a></li>
		                <li><a href="#tab4"><span class="fa fa-pencil-square-o"></span><span class="tab-text">Registro Público</span></a></li>
	                    <li><a href="#tab5"><span class="fa fa-file-text"></span><span class="tab-text">Decreto</span></a></li>
                    </ul>
            
                    <div class="secciones">
                        <article id="tab1">
                            <h1></h1>
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="CveMunicipio">Municipio</label>
                                        <select class="form-control" id="CveMunicipio" ng-options="muni.descripcion for muni in Municipios track by muni.clave" ng-model="form.Municipios" ng-required="true">
                                            <option value="">Seleccione</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="ClasPredio">Clasificación de Predio</label>
                                        <select class="form-control" id="ClasPredio" ng-options="clasPre.descripcion for clasPre in ClasificacionPredios track by clasPre.clave" ng-model="form.ClasificacionPredios" ng-required="true">
                                            <option value="">Seleccione</option>                                     
                                        </select>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="TipoPredio">Tipo de Predio</label>
                                        <select class="form-control" id="TipoPredio" ng-options="tipPre.descripcion for tipPre in TipoPredios track by tipPre.clave" ng-model="form.TipoPredios" ng-required="true">
                                            <option value="">Seleccione</option>
                                        </select>
                                    </div>                                    
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="Status">Status</label>
                                        <input type="text" class="form-control" id="Status" ng-model="form.Status" ng-required="true">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="fechaAlta">Fecha de Alta</label>
                                        <input type="date" class="form-control" id="fechaAlta" ng-model="form.fechaAlta" ng-required="true">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <div class="form-check">
                                            <input type="checkbox" class="Asegurado" id="exampleCheck1" ng-model="form.Asegurado" ng-required="true">
                                            <label class="form-check-label" for="exampleCheck1">Asegurado</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="superficieTotal">Superficie Total</label>
                                        <input type="text" class="form-control" id="superficieTotal" placeholder="mts" ng-model="form.superficieTotal" ng-required="true">
                                    </div>
                        
                                    <div class="form.group col-md-4">
                                        <label for="superficiConstruida">Superficie Construida</label>
                                        <input type="text" class="form-control" id="superficiConstruida" placeholder="mts" ng-model="form.superficiConstruida" ng-required="true">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="noNiveles">No. Niveles</label>
                                        <input type="text" class="form-control" id="noNiveles" placeholder="Niveles" ng-model="form.noNiveles" ng-required="true">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="cveCastastral">Clave Castastral</label>
                                        <input type="text" class="form-control" id="cveCastastral" placeholder="Digite Clave" ng-model="form.cveCastastral" ng-required="true">
                                    </div>
                        
                                    <div class="form.group col-md-4">
                                        <label for="valorCatastral">Valor Catastral</label>
                                        <input type="text" class="form-control" id="valorCatastral" placeholder="$0.00" ng-model="form.valorCatastral" ng-required="true">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="valorActual">Valor Actual</label>
                                        <input type="text" class="form-control" id="valorActual" placeholder="$0.00" ng-model="form.valorActual" ng-required="true">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="valorFiscal">Valor Fiscal</label>
                                        <input type="text" class="form-control" id="valorFiscal" ng-model="form.valorFiscal" ng-required="true">
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="valorAdqui">Valor Adquisición</label>
                                        <input type="text" class="form-control" id="valorAdqui" ng-model="form.valorAdqui" ng-required="true">                                    
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="propetarioAnterior">Propetario Anterior</label>
                                            <input type="text" class="form-control" id="propetarioAnterior" ng-model="form.propetarioAnterior" ng-required="true">
                                        </div>                            
                                        <div class="form.group col-md-4">
                                            <label for="ObsPropetario">Observaciones</label>
                                            <input type="text" class="form-control" id="ObsPropetario" ng-model="form.ObsPropetario" ng-required="true">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="depOcupante">Dependencia Ocupante</label>
                                            <input type="text" class="form-control" id="depOcupante" ng-model="form.depOcupante" ng-required="true">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <button type="submit" class="btn btn-success" href="#tab2" >Siguiente</button>                                            
                                        </div>
                                    </div>
                                    
                                </div>

                            </form>
                        </article><!-- Fin 1er Tab-->

                        <article id="tab2"> <!--Inicia 2do Tab-->
                            <h1> </h1>
                            <form>
                                <div class="form-row">      
                                    <div class="form-group col-md-6">
                                        <label for="TipoAdqui">Tipo de Adquisicion</label>
                                        <select class="form-control" id="TipoAdqui" ng-options="tipoAdqui.descripcion for tipoAdqui in TipoAdquisicion track by tipoAdqui.clave" ng-model="form.TipoAdquisicion" ng-required="true">
                                            <option value="">Seleccione</option>                                        
                                        </select>
                                    </div>
                    
                                    <div class="form-group col-md-6">
                                        <label for="fechaAdquisicion">Fecha de Adquisición</label>
                                        <input type="date" class="form-control" id="fechaAdquisicion" ng-model="form.fechaAdquisicion" ng-required="true">
                                    </div>  
                                </div>
                    
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="noExpediente">No. Expediente</label>
                                        <input type="text" class="form-control" id="noExpediente" placeholder="Ingresar" ng-model="form.noExpediente" ng-required="true">
                                    </div>
                                    
                                    <div class="form-group col-md-6">
                                        <label for="fechaEscrituras">Fecha Escrituras</label>
                                        <input type="date" class="form-control" id="fechaEscrituras" ng-model="form.fechaEscrituras" ng-required="true">
                                    </div>  
                                </div>
                    
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="Notario">Notario</label>
                                        <input type="text" class="form-control" id="Notario" placeholder="Ingresar" ng-model="form.Notario" ng-required="true">
                                    </div>
                    
                                    <div class="form-group col-md-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="Titular" id="Titular" ng-model="form.Titular" ng-required="true">
                                            <label class="form-check-label" for="Titular">Titular</label>
                                        </div>
                                    </div>
                    
                                    <div class="form-group col-md-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="Adjunto" id="Archivo" ng-model="form.Adjunto" ng-required="true">
                                            <label class="form-check-label" for="Adjunto">Adjunto</label>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <button type="submit" class="btn btn-success">Siguiente</button>
                                        
                                    </div>
                                </div>
            
                            </form>
                        </article><!--Fin 2o Tab-->

                        <article id="tab3"> <!--Inicia 3er Tab-->
                            <h1> </h1>
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="Nte">Al Nte. Con</label>
                                        <input type="text" class="form-control" id="Nte" placeholder="Ingresar" ng-model="form.Nte" ng-required="true">
                                    </div>
                    
                                    <div class="form-group col-md-4">
                                        <label for="mtsNte">Mts. Lineales</label>
                                        <input type="text" class="form-control" id="mtsNte" placeholder="Ingresar" ng-model="form.mtsNte" ng-required="true">
                                    </div>
                    
                                    <div class="form-group col-md-4">
                                        <label for="obNte">Observaciones</label>
                                        <input type="text" class="form-control" id="obNte" placeholder="Ingresar" ng-model="form.obNte" ng-required="true">
                                    </div>
                                </div>
                    
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="Sur">Al Sur Con</label>
                                        <input type="text" class="form-control" id="Sur" placeholder="Ingresar" ng-model="form.Sur" ng-required="true">
                                    </div>
                    
                                    <div class="form-group col-md-4">
                                        <label for="mtsSur">Mts. Lineales</label>
                                        <input type="text" class="form-control" id="mtsSUR" placeholder="Ingresar" ng-model="form.mtsSUR" ng-required="true">
                                    </div>
                    
                                    <div class="form-group col-md-4">
                                        <label for="obSur">Observaciones</label>
                                        <input type="text" class="form-control" id="obSur" placeholder="Ingresar" ng-model="form.ObSur" ng-required="true">
                                    </div>
                                </div>
                    
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="Pte">Al Pte. Con</label>
                                        <input type="text" class="form-control" id="Pte" placeholder="Ingresar" ng-model="form.Pte" ng-required="true">
                                    </div>
                    
                                    <div class="form-group col-md-4">
                                        <label for="mtsPte">Mts. Lineales</label>
                                        <input type="text" class="form-control" id="mtsPte" placeholder="Ingresar" ng-model="form.mtsPte" ng-required="true">
                                    </div>
                    
                                    <div class="form-group col-md-4">
                                        <label for="obPte">Observaciones</label>
                                        <input type="text" class="form-control" id="obPte" placeholder="Ingresar" ng-model="form.obPte" ng-required="true">
                                    </div>
                                </div>
                    
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="Ote">Al Ote. Con</label>
                                        <input type="text" class="form-control" id="Ote" placeholder="Ingresar" ng-model="form.Ote" ng-required="true">
                                    </div>
                    
                                    <div class="form-group col-md-4">
                                        <label for="mtsOte">Mts. Lineales</label>
                                        <input type="text" class="form-control" id="mtsOte" placeholder="Ingresar" ng-model="form.mtsOte" ng-required="true">
                                    </div>
                    
                                    <div class="form-group col-md-4">
                                        <label for="obOte">Observaciones</label>
                                        <input type="text" class="form-control" id="obOte" placeholder="Ingresar" ng-model="form.obOte" ng-required="true">
                                    </div>
                                </div>
            
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <button type="submit" class="btn btn-success">Siguiente</button>                                        
                                    </div>
                                </div>            
                            </form>     
                        </article><!--Fin 3er Tab-->
                            
                        <article id="tab4"> <!-- Inicia 4o tap-->
                            <h1> </h1>
                            <form>
                                <div class="form-row">      
                                    <div class="form-group col-md-4">
                                        <label for="libroReg">Libro de Registro</label>
                                        <input type="text" class="form-control" id="libroReg" placeholder="Ingresar" ng-model="form.libroReg" ng-required="true">
                                    </div>
                    
                                    <div class="form-group col-md-4">
                                        <label for="noInsc">No. Inscripción</label>
                                        <input type="text" class="form-control" id="noInsc" placeholder="Ingresar" ng-model="form.noInsc" ng-required="true">
                                    </div>
                    
                                    <div class="form-group col-md-4">
                                        <label for="Fojas">Fojas</label>
                                        <input type="text" class="form-control" id="Fojas" placeholder="Ingresar" ng-model="form.Fojas" ng-required="true">
                                    </div>
                                </div>
                               
                                <div class="form-row">      
                                    <div class="form-group col-md-6">
                                        <label for="Tomo">Tomo</label>
                                        <select class="form-control" id="Tomo" ng-options="tomos.descripcion for tomos in Tomos track by tomos.clave" ng-model="form.Tomos" ng-required="true">
                                            <option value="">Seleccione</option>
                                        </select>
                                    </div>
                    
                                    <div class="form-group col-md-6">
                                        <label for="fechaRegistro">Fecha de Registro</label>
                                        <input type="date" class="form-control" id="fechaRegistro" ng-model="form.fechaRegistro" ng-required="true">
                                    </div>  
                                </div>
                    
                                <div class="form-row">      
                                    <div class="form-group col-md-6">
                                    <label for="seccion">Sección</label>
                                    <input type="text" class="form-control" id="seccion" placeholder="Ingresar" ng-model="form.seccion" ng-required="true">
                                    </div>
                    
                                    <div class="form-group col-md-6">
                                        <label for="LugarReg">Lugar de Registro</label>
                                        <select class="form-control" id="Cve_Municipio" ng-options="lugReg.descripcion for lugReg in LugaresRegionales track by lugReg.clave" ng-model="form.LugaresRegionales" ng-required="true">
                                            <option value="">Seleccione</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <button type="submit" class="btn btn-success" >Siguiente</button>
                                        
                                    </div>
                                </div>
            
                            </form>
                        </article> <!-- Fin 4o Tab-->

                        <article id="tab5"><!--Inicia 40 Tab-->
                            <h1> </h1>
                            <form>

                                <div class="form-row">      
                                    <div class="form-group col-md-6">
                                        <label for="noDecreto">No. Decreto</label>
                                        <input type="text" class="form-control" id="noDecreto" placeholder="Ingresar" ng-model="form.noDecreto" ng-required="true">
                                    </div>
                    
                                    <div class="form-group col-md-6">
                                        <label for="noPeriodico">No. Periódico</label>
                                        <input type="text" class="form-control" id="noPeriodico" placeholder="Ingresar" ng-model="form.noPeriodico" ng-required="true">
                                    </div>
                                </div>
                    
                                <div class="form-row">
            
                                    <div class="form-group col-md-6">
                                        <label for="valEna">Valor Enajenación</label>
                                        <input type="text" class="form-control" id="valEna" placeholder="$0.00" ng-model="form.valEna" ng-required="true">
                                    </div>
            
                                    <div class="form-group col-md-6">
                                        <label for="fechaPeriodico">Fecha Periódico</label>
                                        <input type="date" class="form-control" id="fechaPeriodicoo" ng-model="form.fechaPeriodico" ng-required="true">
                                    </div>  
                                </div>
                            </form>
                            
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <button type="submit" class="btn btn-success" ng-click="AgregarInmueble()" > Guardar</button>                        
                                </div>
                            </div>

                        </article><!--Fin 5o Tab-->

                    </div>                    
                </div>
                
                <!-- FIN TABS-->
                
                            
    </form>
         <!-- Fin de Formulario -->
            
        <h6 class="cabecera p-2 mb-2 text-white"></h6>
</div>
