<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienes</title>
</head>
<body>
<div class="container">

    <hr>
    <div class="row">
        <div class="col-sm-5">
            <div class="active-cyan-3 active-cyan-4 mb-4">
                <input class="form-control" type="text" placeholder="Buscar producto" aria-label="Search" ng-model="nombre">
            </div>
        </div>
        <div class="col-sm-2">
            <a type="button" class="btn btn-info" href="http://localhost/proyecto_codias_backend/Reportes/reporteProducto.php" target="_blank">Descargar PDF</a>
            <!--<a type="button" class="btn btn-info" href="http://inventario.codias.com.mx/backend/Reportes/reporteProducto.php" target="_blank">Descargar PDF</a>-->
        </div>
        <div class="col-sm-2">
            <a type="button" class="btn btn-success" href="http://localhost/proyecto_codias_backend/Reportes/reporteProductoExcel.php">Descargar excel</a>
            <!--<a type="button" class="btn btn-success" href="http://inventario.codias.com.mx/backend/Reportes/reporteProductoExcel.php">Descargar excel</a>-->
        </div>
        <div class="col-sm-3">
            <div class="btn btn-secondary">
                Total de productos: <span class="badge badge-light">{{totalRegistros}}</span>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered fixed_header" style="width:100%;">
        <thead>
        <tr>
            <th class="centerText" scope="col">Código</th>
            <th class="centerText" scope="col">Producto</th>
            <th class="centerText" scope="col">Precio unitario</th>
            <th class="centerText" scope="col">Precio de venta</th>
            <th class="centerText" scope="col">Stock Mínimo</th>
            <th class="centerText" scope="col">Stock Máximo</th>
            <th class="centerText" scope="col">Categoría</th>
            <th class="centerText" scope="col">Fecha de alta</th>
            <th class="centerText" scope="col">Cantidad disponible</th>
            <!--                <th class="centerText" scope="col">Activo</th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, value) in productos | filter: nombre">
            <td class="centerText">{{value.codigo_prod}}</td>
            <td class="centerText">
                <a type="button" ng-href="#!/producto/{{value.id_prod}}">
                    {{value.nombre_prod}}
                </a>
            </td>
            <td class="centerText">{{value.precio_compra | currency}}</td>
            <td class="centerText">{{value.precio_venta | currency}}</td>
            <td class="centerText">{{value.stock_min}}</td>
            <td class="centerText">{{value.stock_max}}</td>
            <td class="centerText">{{value.nombre_cat}}</td>
            <td class="centerText">{{value.fecha_alta}}</td>
            <td class="centerText">{{value.cantidad_stock}}</td>
            <!--                <td class="centerText">-->
            <!--                    <span class="badge badge-success" ng-show="value.activo == 1 ? true : false">Activo</span>-->
            <!--                    <span class="badge badge-danger" ng-show="value.activo == 0 ? true : false">Inactivo</span>-->
            <!--                </td>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>