@charset "UTF-8";

header a img{
    width: 100%;
    height: 120px;        
}
.cabecera {
    text-align: center;
    background-color: #621132;    
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.btnSalir{
    font-family: 'Open Sans', Arial, sans-serif;
    Color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}
/*css para el estilo de las tablas*/
.fixed_header{
    width: 100%;
    height: 23rem;
    border-color: #0f6674;
    overflow: auto;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../Image/loader.gif') 50% 50% no-repeat rgb(255,255,255);
    opacity: .7;
}
.itemPagination{
    cursor: pointer;
}

.CardStyle{
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.CardStyle .card-header {
    background-color: #621132;
    font-size: 1em;
    color: white;
    font-weight: bold;
}
