<header>
    <a href="#"> <img src="Image/header.png" alt="Imagen de Bienes Inmuebles"></a>
</header>
<div class="container-fluid" style="background-color: transparent">
    <div class="row" style="padding: 1em;">
        <div class="col-sm-4" style="padding: 1em;">
            <a ui-sref="inmobiliaria">
                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">
                    <div class="card-header text-center">
                        Inmuebles
                    </div>
                    <img class="card-img-top" src="Image/Inmuebles2.png" alt="image">
                </div>
            </a>
        </div>
        <div class="col-sm-4" style="padding: 1em;">
            <a ui-sref="segregaciones">
                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">
                    <div class="card-header text-center">
                        Segregaciones
                    </div>
                    <img class="card-img-top" src="Image/Segregacion.png" alt="image">
                </div>
            </a>
        </div>
        <div class="col-sm-4" style="padding: 1em;">
            <a ui-sref="catalogos">
                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">
                    <div class="card-header text-center">
                        Catálogos
                    </div>
                    <img class="card-img-top" src="Image/Catalagos.png" alt="image">
                </div>
            </a>
        </div>
    </div>
    <div class="row" style="padding: 1em;">
        <div class="col-sm-4" style="padding: 1em;">
            <a ui-sref="reportes">
                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">
                    <div class="card-header text-center">
                        Reportes
                    </div>
                    <img class="card-img-top" src="Image/Reportes.png" alt="image">
                </div>
            </a>
        </div>
        <div class="col-sm-4" style="padding: 1em;">
            <a ui-sref="listaUsuario">
                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">
                    <div class="card-header text-center">
                        Usuarios
                    </div>
                    <img class="card-img-top" src="Image/Usuarios.png" alt="image">
                </div>
            </a>
        </div>
        <div class="col-sm-4" style="padding: 1em;">
            <a ui-sref="seguridad">
                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">
                    <div class="card-header text-center">
                        Seguridad
                    </div>
                    <img class="card-img-top" src="Image/Seguridad.png" alt="image">
                </div>
            </a>
        </div>
    </div>

</div>
