<header>
    <a href="#"> <img src="Image/header.png" alt="Imagen de Bienes Inmuebles"></a>
</header>
<div class="container-fluid" style="background-color: transparent">
    <div class="row" style="padding: 1em;">
        <div class="col-sm-4" style="padding: 1em;">
            <a ui-sref="inmobiliaria">
                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">
                    <div class="card-header text-center">
                        Inmuebles
                    </div>
                    <div class="card-body">
                        <img class="card-img-top" src="Image/logo.png" alt="image">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4" style="padding: 1em;">
            <a ui-sref="segregaciones">
                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">
                    <div class="card-header text-center">
                        Segregaciones
                    </div>
                    <div class="card-body">
                        <img class="card-img-top" src="Image/logo.png" alt="image">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4" style="padding: 1em;">
            <a ui-sref="listaUsuario">
                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">
                    <div class="card-header text-center">
                        Usuarios
                    </div>
                    <div class="card-body">
                        <img class="card-img-top" src="Image/logo.png" alt="image">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row" style="padding: 1em;">
        <div class="col-sm-4" style="padding: 1em;">
            <a ui-sref="">
                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">
                    <div class="card-header text-center">
                        Catalogos
                    </div>
                    <div class="card-body">
                        <img class="card-img-top" src="Image/logo.png" alt="image">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4" style="padding: 1em;">
            <a ui-sref="">
                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">
                    <div class="card-header text-center">
                        Reportes
                    </div>
                    <div class="card-body">
                        <img class="card-img-top" src="Image/logo.png" alt="image">
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>