<div class="container">
    <div class="card" style="background-color: transparent; margin-top: 1em;">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <label>Bienvenido a IPE</label>
                </div>
                <div class="col-md-4">
                    <label>Usuario actual:
                        <span class="badge badge-info">{{usuarioActual}}</span>
                    </label>
                </div>
                <div class="col-md-4 text-right">
                    <a class="badge badge-pill badge-danger btnSalir" ui-sref="home">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                        Regresar al Menú
                    </a>
                    <a class="badge badge-pill badge-primary btnSalir" ng-click="logout()">
                        Cerrar sesión
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
