<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>
<body>
<div class="container">

    <hr>
    <div class="row">
        <div class="col-sm-10">
            <div class="active-cyan-3 active-cyan-4 mb-4">
                <input class="form-control" type="text" placeholder="Buscar Usuarios" aria-label="Search" ng-model="nombre">
            </div>
        </div>

        <div class="col-sm-2">
            <button class="btn btn-success" ng-click="AgregarUsuario()">
                Agregar Usuario
            </button>
        </div>
    </div>
    <table class="table table-striped table-bordered fixed_header" style="width:100%;">
        <thead>
        <tr>
            <th class="centerText" scope="col">Nombre</th>
            <th class="centerText" scope="col">Correo</th>
            <th class="centerText" scope="col">Status</th>
            <th class="centerText" scope="col">Administrador</th>
            <th class="centerText" scope="col">Subsecretaría</th>
            <th class="centerText" scope="col">Direccion</th>
            <th class="centerText" scope="col">Clave</th>
            <th class="centerText" scope="col"></th>

            <!--                <th class="centerText" scope="col">Activo</th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat=" (key,value) in Usuarios "><!--| filter: nombre -->
            <td class="centerText">{{value.nombre}}</td>
            <td class="centerText">{{value.correo}}</td>
            <td class="centerText">{{value.estatus}}</td>
            <td>
                <div class="form-check" style="vertical-align: middle; text-align: center">
                    <input class="form-check-input" type="checkbox" value="" ng-checked="value.administrador"
                           ng-disabled="true" id="defaultCheck1">
                </div>
            </td>
            <td class="centerText">
                <div class="form-check" style="vertical-align: middle; text-align: center">
                    <input class="form-check-input" type="checkbox" value="" ng-checked="value.subsecretaria"
                           ng-disabled="true" id="defaultCheck2">
                </div>
            </td>
            <td class="centerText">
                <div class="form-check" style="vertical-align: middle; text-align: center">
                    <input class="form-check-input" type="checkbox" value="" ng-checked="value.direccion"
                           ng-disabled="true" id="defaultCheck3">
                </div>
            </td>

            <td class="centerText">{{value.clave}}</td>
            <td class="centerText">
                <span class="fa fa-edit"></span>
                <span class="fa fa-trash"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>