<header>
    <h2 class="cabecera p-2 mb-2 text-white">Catálogos</h2>
</header>
<div class="container-fluid" style="background-color: transparent">
    <div class="row" style="padding: 1em;">
        <div class="col-sm-4" style="padding: 1em;">
            <a ui-sref="tipoNotario">
                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">
                    <div class="card-header text-center">
                        Notarios
                    </div>
                    <img class="card-img-top" src="Image/Notarios.png" alt="image">
                </div>
            </a>
        </div>
        <div class="col-sm-4" style="padding: 1em;">
            <a ui-sref="tipoInmueble">
                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">
                    <div class="card-header text-center">
                        Tipo de Inmuebles
                    </div>
                    <img class="card-img-top" src="Image/Cat_Inmuebles.png" alt="image">
                </div>
            </a>
        </div>
        <div class="col-sm-4" style="padding: 1em;">
            <a ui-sref="tipoPredio">
                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">
                    <div class="card-header text-center">
                        Tipo de Predios
                    </div>
                    <img class="card-img-top" src="Image/Cat_TipoPredio.png" alt="image">
                </div>
            </a>
        </div>
    </div>
    <div class="row" style="padding: 1em;">
        <div class="col-sm-4" style="padding: 1em;">
            <a ui-sref="tipoExpediente">
                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">
                    <div class="card-header text-center">
                        Tipo de Expedientes
                    </div>
                    <img class="card-img-top" src="Image/Cat_TipoExp.png" alt="image">
                </div>
            </a>
        </div>
        <div class="col-sm-4" style="padding: 1em;">
            <a ui-sref="tipoAdquisicion">
                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">
                    <div class="card-header text-center">
                        Tipo de Adquisición
                    </div>
                    <img class="card-img-top" src="Image/Cat_TipodeAdqui.png" alt="image">
                </div>
            </a>
        </div>
<!--        <div class="col-sm-4" style="padding: 1em;">-->
<!--            <a>-->
<!--                <div class="card shadow p-1 mb-2 bg-white rounded CardStyle">-->
<!--                    <div class="card-header text-center">-->
<!--                        Seguridad-->
<!--                    </div>-->
<!--                    <img class="card-img-top" src="Image/Seguridad.png" alt="image">-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
    </div>

</div>
