<div class="container">
    <div class="loader" ng-show="spinner"></div>
    <div class="fixed_header">
        <table class="table table-striped table-bordered fixed_header" style="width:100%;">
            <thead>
            <tr>
                <th class="text-center" scope="col">Descripción</th>
                <th class="text-center" scope="col">Cantidad</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat=" (key,value) in GruposTipoInmueble ">
                <td class="text-center">{{value.descripcion}}</td>
                <td class="text-center">
                    <a type="button" class="btn btn-primary" ng-click="irDetalle(value.id)">
                        Tipo de Inmuebles <span class="badge badge-light">{{value.cantidad}}</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
