<div ng-include="'Views/Custom/modal/addTipoExpediente.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-success" data-toggle="modal" data-target="#addModal" data-dismiss="addModal">
                Agregar Tipo de Expediente
            </button>
        </div>
    </div>
    <div class="loader" ng-show="spinner"></div>
    <div class="fixed_header">
        <table class="table table-striped table-bordered fixed_header" style="width:100%;">
            <thead>
            <tr>
                <th class="text-center" scope="col">Clave</th>
                <th class="text-center" scope="col">Descripción</th>
                <th class="text-center" scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat=" (key,value) in listado ">
                <td class="text-center">{{value.clave}}</td>
                <td class="text-center">{{value.descripcion}}</td>
                <td class="text-center">
                    <button data-toggle="modal" data-target="#editModal" data-dismiss="editModal" ng-click="editar(value.clave)">
                        <span class="fa fa-edit IconAccion" style="margin-right: 5px"></span>
                    </button>
                    <button ng-click="eliminar(value.clave)">
                        <span class="fa fa-trash IconAccion"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
